<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Empréstimos</title>
</head>
<body>
    <h1>Lista de Empréstimos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Livro</th>
                <th>Cliente</th>
                <th>Data de Empréstimo</th>
                <th>Data de Devolução</th>
            </tr>
        </thead>
        <tbody>
            {% for emprestimo in emprestimos %}
            <tr>
                <td>{{ emprestimo.idlivro.titulo }}</td>
                <td>{{ emprestimo.idcliente.nome }} {{ emprestimo.idcliente.sobrenome }}</td>
                <td>{{ emprestimo.data_emprestimo }}</td>
                <td>{{ emprestimo.data_devolucao }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'index' %}">Voltar</a>
    <br>
<a href="{% url 'criar_emprestimo' %}">Criar Empréstimo</a>
</body>
</html>
